@page "/userdata"

<PageTitle>User Data</PageTitle>

<h1>Commits Per Day By User</h1>

@using GitInsight.Infrastructure

@inject HttpClient Http

@if (InputData.NameOfOwner == null){
    <p><em>Please fill in the information on the setup page...</em></p>
}
else if (UserDateCounts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (UserDateCounts userdatecounts in UserDateCounts)
    {
        if(userdatecounts.User.Email.Contains("users.noreply.github.com"))
        {
            <h3>@userdatecounts.User.Name</h3>
        }
        else
        {
            <h3>@userdatecounts.User.Name &emsp; (@userdatecounts.User.Email)</h3>
        }
        
        <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
                @foreach (DateCount datecount in userdatecounts.DateCounts.Reverse())
                {
                    <tr>
                        <td>@datecount.Date.ToString("dd/MM/yyyy")</td>
                        <td>@datecount.Count</td>
                    </tr>
                }
        </tbody>
    </table>
    <br>
    <br>
    }
}

@code {
    private IEnumerable<UserDateCounts> UserDateCounts;

    protected override async Task OnInitializedAsync()
    {
        if(InputData.NameOfOwner is not null || InputData.NameOfRepository is not null){
            UserDateCounts = (await Http.GetFromJsonAsync<RepoAnalysis>("GitInsight/" + InputData.NameOfOwner + "/" + InputData.NameOfRepository)).UserDateCounts; 
        }
    }
}
